$deepBlue: rgba(26,2,133);
$deepBlue2: rgba(26, 2, 133, 0.8);
$deepBlue3: rgba(26,2,133, 0.6);
$deepBlue4: rgba(26, 2, 133, 0.4);
$deepBlue5: rgba(26, 2, 133, 0.2);

$deepGreen: rgba(31,114,126);
$deepGreen2: rgba(31,114,126, 0.8);
$deepGreen3: rgba(31,114,126, 0.6);
$deepGreen4: rgba(31,114,126, 0.4);
$deepGreen5: rgba(31,114,126, 0.2);


$mediumBlue: rgba(53,156,187);
$mediumBlue2: rgba(53,156,187, 0.8);
$mediumBlue3: rgba(53,156,187, 0.6);
$mediumBlue4: rgba(53,156,187, 0.4);
$mediumBlue5: rgba(53,156,187, 0.2);

$blueGreen: rgba(70,209,191);
$blueGreen2: rgba(70,209,191, 0.8);
$blueGreen3: rgba(70,209,191, 0.6);
$blueGreen4: rgba(70,209,191. 0.4);
$blueGreen5: rgba(70,209,191, 0.2);


$lightGreen: rgba(0,255,198);
$lightGreen2: rgba(0,255,198, 0.8);
$lightGreen3: rgba(0,255,198, 0.6);
$lightGreen4: rgba(0,255,198, 0.4);
$lightGreen5: rgba(0,255,198, 0.2);

